@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html, 
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
    padding: 5px 0px;
}

/*
* menu
*/

nav {
    background-color: #A3B5A1;
    padding: 5px 0px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.logo-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}


.menu {
    width: 50%;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #ffffff;
}

/*
* hero / jumbotron
*/

header {
    height: 100vh;
    background: url('../img/bg-header.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.header-opacity {
    background-color: #A3B5A1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.header-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-jumbotron > h4 {
    color: #ffffff;
    font-size: 3rem;
    margin: 0px;
    padding: 5px;
    line-height: 2rem;
}

.header-jumbotron > h5 {
    color: #ffffff;
    font-size: 16px;
    margin: 0px;
    padding: 5px;
    line-height: 2rem;
}

.header-jumbotron > h6 {
    color: #ffffff;
    font-size: 16px;
    margin: 0px;
    padding: 5px;
    line-height: 2rem;
}

.header-jumbotron > h7 {
    color: #ffffff;
    font-size: 16px;
    margin: 0px;
    padding: 5px;
    line-height: 2rem;
}

/* about me */
#about-me {
    padding: 60px 20px;
    background-color: #D4D7C8;
    text-align: center;
}

#about-me h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
}

#about-me p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.8;
    color: #fff;
}

/* portfolio */
#portfolio {
    padding: 60px 20px;
    background-color: #B0B99F;
    text-align: center;
}

#portfolio h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff;
}

#portfolio p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
}

#portfolio h3 {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}

/* contact */
#contact {
    padding: 60px 20px;
    background-color: #8A937E;
    text-align: center;
}

#contact h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff;
}

#contact p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
}

/* form styling */
#contact form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

#contact label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #444;
}

#contact input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

#contact input:focus {
    border-color: #a3b5a1;
    outline: none;
    box-shadow: 0 0 5px rgba(163, 181, 161, 0.5);
}

html {
    scroll-behavior: smooth;
}

